body {
  color: white;
  background-color: black;
}

.ResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.userCard {
  width: 548px;
  height: 277px;
  position: inherit;
  background-color: #0a0a0a;
  border-radius: 4px;
  border: 1px solid #202020;
  bottom: 75px;
}
.userHeader {
  display: flex;
  border-radius: 4px;
  flex-direction: row;
  height: 50%;
  align-items: center;
  justify-content: space-between;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.userImg {
  position: relative;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  bottom: 85px;
}
.userName {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  padding-top: 25px;
}
.userLogin {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  margin-top: 72px;
}

.userLinkContainer {
  position: absolute;
  margin-left: 380px;
  margin-bottom: 100px;
}

.userLink {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.backArrow {
  position: absolute;
  padding-left: 25px;
  padding-bottom: 50px;
}

.LinkIcon {
  margin-left: 5px;
  margin-right: 5px;
}

.userInfoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.BoxText {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  margin-top: 50px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.RepositoryText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 5px;
}

.repoCard {
  display: flex;
  margin-top: 17px;
  width: 548px;
  height: 91px;
  background-color: #0a0a0a;
  border-radius: 4px;
  border: 1px solid #202020;
  justify-content: center;
  align-items: center;
}
.repoCardText {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 20px;
  height: 40px;
  width: 100%;
  font-size: 14px;
}
.repoCardDesc {
  margin-left: 20px;
  color: #acacac;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
}

.repoStar {
  position: relative;
  left: 180px;
  font-size: 18px;
  font-weight: 500;
}
.repoStarDesc {
  position: relative;
  left: 180px;
  color: #acacac;
}
.ButtonMore {
  position: relative;
  margin-top: 20px;
  width: 548px;
  height: 44px;
  background-color: #0a0a0a;
  background: #0da090;
  border: 1px solid #72f2e4;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
