.SearchInput {
  height: 44px;
  width: 320px;
  padding: 0px 10px;
  background: #0a0a0a;
  color: #fff;
  border: 1px solid #292929;
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
}

.SearchButton {
  height: 44px;
  width: 320px;
  background: #0a0a0a;
  color: #fff;
  border: 1px solid #292929;
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  margin-top: 10px;
}

.ResultContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
